<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Include your library's logging configuration -->
    <include resource="logback-loki.xml"/>
    <logger name="com.phoenix.product" level="DEBUG" />
    <logger name="org.springframework.data.r2dbc" level="DEBUG" />
    <logger name="org.springframework.kafka" level="DEBUG"/>
    <logger name="org.flywaydb" level="DEBUG"/>
</configuration>